.accordion {
  &__item {
    margin-bottom: 15px;
    border: 1px solid $cx-gb-4;
    border-radius: 2px;
    background: $cx-gb-1;

    .accordion &:last-child {
      margin-bottom: 0;
    }

    &__header {
      display: flex;
      position: relative;
      align-items: center;
      padding: 0 30px;
      height: 56px;
      text-decoration: none;
      color: $cx-gb-7;
      font-size: $f-t1;

      &:after {
        @include icon;

        display: block;
        position: absolute;
        top: 50%;
        right: 26px;
        transform: translateY(-50%);
        color: $cx-gb-6;
        font-size: 10px;
        content: "\e81b";
      }

      .accordion__item--is-open & {
        font-weight: $fw-bold;

        &:after {
          color: $cx-gb-4;
          content: "\e81a";
        }
      }
    }

    &__body {
      display: none;
      border-top: 1px solid $cx-gb-4;

      .accordion__item--is-open & {
        display: block;
      }
    }
  }

  &__section {
    border-bottom: 1px solid $cx-gb-4;
    padding: 25px 30px;

    .accordion__item &:last-child {
      border-bottom: 0;
    }

    &--buttons {
      display: flex;
      align-items: center;
      padding: 20px 30px;

      .button {
        margin-right: 15px;
      }
    }
  }
}
