.breadcrumb {
  display: flex;
  margin: 0;
  padding: 0;

  &__item {
    display: block;
    position: relative;
    margin-left: 7px;
    padding-left: 16px;
    color: $cx-gb-1;
    font-size: $f-t1;

    &:before {
      @include icon;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: $cx-gb-6;
      font-size: 10px;
      content: "\e815";
    }
  }

  .breadcrumb__item:first-child {
    margin-left: 0;
    padding-left: 0;

    &:before {
      display: none;
    }
  }

  &__link {
    transition: .3s color;
    text-decoration: none;
    color: $cx-gb-5;

    &:hover {
      color: $cx-gb-1;
    }
  }
}
