.card {
  border-radius: 2px;
  background: $cx-gb-1;

  &--has-border {
    border: 1px solid $cx-gb-4;
  }

  &--has-light-shadow {
    box-shadow: 0 1px 4px rgba(#000, .1);
  }

  &--has-shadow {
    box-shadow: -2px -2px 6px 0 rgba(#000, .1), 2px 4px 4px 0 rgba(#000, .1);
  }

  &--has-hard-shadow {
    box-shadow: 0 -4px 6px 0 rgba(#000, .1), 6px 4px 6px 0 rgba(#000, .1), -6px 6px 6px 0 rgba(#000, .1);
  }

  &--max-width {
    max-width: 760px;
  }

  &__inner {
    padding: 20px;
  }
}
