@font-face {
  font-family: "xcheck";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/icons/xcheck.eot?75628303#iefix") format("embedded-opentype"),
  url("../../fonts/icons/xcheck.woff2?75628303") format("woff2"),
  url("../../fonts/icons/xcheck.woff?75628303") format("woff"),
  url("../../fonts/icons/xcheck.ttf?75628303") format("truetype"),
  url("../../fonts/icons/xcheck.svg?75628303#xcheck") format("svg");
}

@mixin icon {
  display: inline-block;
  width: 1em;
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1em;
  font-family: "xcheck";
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

[class^="icon--"]:before,
[class*=" icon--"]:before {
  @include icon;
}

.icon--bell:before { content: "\e800"; }
.icon--arrow-up:before { content: "\e801"; }
.icon--arrow-down:before { content: "\e802"; }
.icon--dir-down:before { content: "\e803"; }
.icon--dir-up:before { content: "\e804"; }
.icon--plane:before { content: "\e805"; }
.icon--dir-left:before { content: "\e806"; }
.icon--dir-right:before { content: "\e807"; }
.icon--toggle-nav:before { content: "\e808"; }
.icon--duplicate:before { content: "\e809"; }
.icon--help:before { content: "\e80a"; }
.icon--people:before { content: "\e80b"; }
.icon--more:before { content: "\e80c"; }
.icon--report:before { content: "\e80d"; }
.icon--network:before { content: "\e80e"; }
.icon--search:before { content: "\e80f"; }
.icon--tags:before { content: "\e810"; }
.icon--facebook:before { content: "\e811"; }
.icon--dashboard:before { content: "\e812"; }
.icon--code:before { content: "\e813"; }
.icon--close:before { content: "\e821"; }
.icon--next:before { content: "\e815"; }
.icon--prev:before { content: "\e816"; }
.icon--tick:before { content: "\e817"; }
.icon--arrow-left:before { content: "\e818"; }
.icon--arrow-right:before { content: "\e819"; }
.icon--toggle-down:before { content: "\e81a"; }
.icon--toggle-up:before { content: "\e81b"; }
.icon--share:before { content: "\e81c"; }
.icon--plus:before { content: "\e81d"; }
.icon--preview:before { content: "\e81e"; }
.icon--reload:before { content: "\e81f"; }
.icon--trash:before { content: "\e820"; }
.icon--pulse:before { content: "\e822"; }

.button {
  .icon--left-side {
    margin-right: 5px;
  }

  .icon--right-side {
    margin-left: 5px;
  }

  [class^="icon--"] {
    vertical-align: middle;
    font-size: $f-t3;
  }
}
