.inline-edit {
  display: flex !important; // sass-lint:disable-line no-important

  &--dropdown {
    align-items: center;
  }

  &__input {
    margin: 0;
    outline: none;
    border: 0;
    color: #334D69;
    font-size: 11px;

    .inline-edit--rolling-window & {
      padding-left: 5px;
    }
  }

  &__button {
    border: 0;
    background: none;
    padding: 0 5px;
    height: 14px;

    &:disabled {
      opacity: .5;
      cursor: auto;
    }

    &--save {
      color: #86D672;
    }

    &--cancel {
      color: #C14833;
    }
  }
}
