.main-nav {
  display: block;

  &__list {
    display: block;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: block;
  }

  &__link {
    display: flex;
    position: relative;
    align-items: center;
    transition: .3s background, .3s color;
    padding: 18px 20px 18px 0;
    text-decoration: none;
    color: $cx-gb-1;
    font-size: $f-t1;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      transition: .3s opacity;
      opacity: 0;
      background: $cx-green-2;
      width: 2px;
      content: "";
    }

    &:hover,
    &--is-active {
      background: $cx-gb-9;
      color: $cx-green-2;

      &::before {
        opacity: 1;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    transition: .3s color;
    width: 56px;
    text-align: center;
    color: $cx-gb-6;
    font-size: 17px;

    .main-nav__link:hover:not(.main-nav__item--disabled) &,
    .main-nav__link--is-active & {
      color: $cx-green-2;
    }
  }

  &__text {
    .app__sidebar--is-collapsed & {
      display: none;
    }
  }
}
