$app-sidebar-width: 210px;
$app-sidebar-collapsed-width: 56px;

.app__sidebar {
  flex-shrink: 0;
  box-shadow: 0 2px 4px rgba(#232425, .3);
  background: $cx-gb-8;
  width: $app-sidebar-width;

  &--is-collapsed {
    width: $app-sidebar-collapsed-width;
  }

  &__logo {
    display: flex;
    padding: 0 20px;
    height: 56px;

    &__image {
      display: block;
      margin-top: 21px;
      width: 72px;
      height: 19.2px;

      .app__sidebar--is-collapsed & {
        display: none;
      }

      &--is-collapsed {
        display: none;
        margin-top: 27px;
        width: 13.44px;
        height: 12.48px;

        .app__sidebar--is-collapsed & {
          display: block;
        }
      }
    }
  }
}
