$main-header-height: 56px;

.main-header {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(#232425, .3);
  background: $cx-gb-7;
  height: $main-header-height;

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__toggle-sidebar-button {
    border: 0;
    background: none;
    cursor: pointer;
    padding: 15px;
    color: $cx-gb-5;
    font-size: 17px;

    &--is-rotated {
      transform: rotate(180deg);
    }
  }

  &__notifications-button {
    border: 0;
    background: none;
    cursor: pointer;
    padding: 15px;
    color: $cx-gb-5;
    font-size: 14px;
  }

  &__user {
    &__logout {
      outline: none;
      border: 0;
      background: none;
      padding: 12px;
      width: 100%;
      height: 40px;
      text-align: left;
      line-height: 12px;
      color: $cx-gb-7;
      font-size: $f-t3;

      &:hover {
        color: $cx-gb-8;
      }
    }

    &__name {
      position: relative;
      margin-right: 20px;
      border: 0;
      background: none;
      cursor: pointer;
      padding: 15px 20px 15px 15px;
      width: 152px;
      text-align: right;
      color: $cx-gb-1;
      font-size: $f-t3;

      &::before {
        @include icon;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        color: $cx-gb-5;
        font-size: 7px;
        content: "\e803";
      }
    }
  }
}
