.app {
  display: flex;
  align-items: stretch;
  background: $cx-gb-3;
  width: 100%;
  height: 100%;

  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__main {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;

    &__inner {
      padding: 40px 20px;
      width: max-content;
      min-width: 100%;
    }

    &__content {
      flex: 1;
      overflow: auto;
    }
  }
}
