.multiselect {
  padding: 9px;

  &__search {
    margin-bottom: 15px;
  }

  &__body {
    max-height: 255px;
    overflow-y: auto;
  }

  &__select-none {
    margin: 0 0 13px;
    border: 0;
    background: none;
    padding: 0;
    color: $cx-gb-7;
    font-size: $f-t3;
  }

  &__group {
    &__header {
      margin-bottom: 9px;
      text-transform: uppercase;
      color: $cx-gb-5;
      font-size: $f-t6;
      font-weight: bold;
    }

    .form__item:last-child {
      margin-bottom: 0;
    }
  }

  .form__item {
    margin-bottom: 14px;
  }
}
