.no-results {
  padding: 100px;
  text-align: center;

  &__image {
    display: block;
    margin: 0 auto;
    width: 59px;
    height: 57px;
  }

  &__text {
    margin-top: 15px;
    color: $cx-gb-5;
    font-size: $f-t3;
  }
}
