@mixin pre {
  display: inline-block;
  margin: 0 5px;
  border: 1px solid rgba($cx-gb-4, .5);
  border-radius: 2px;
  background: rgba($cx-gb-2, .5);
  padding: 4px 2px 5px;
  line-height: 1em;
  color: $cx-gb-5;
  font-size: 12px;
}

pre {
  @include pre;
}

.form__mention {
  strong {
    border-radius: 2px;
    background: rgba($cx-gb-2, .5);
    font-weight: $fw-normal;
  }

  &__input:disabled {
    border-color: #D8DDE2 !important; // sass-lint:disable-line no-important
    background: #EFF1F3 !important; // sass-lint:disable-line no-important
  }
}
