.status-dot {
  display: inline-block;
  transform: translateY(-1px);
  margin-right: 12px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  vertical-align: middle;

  &--active {
    background: #86D672;
  }

  &--inactive {
    background: #C14833;
  }

  &--pending {
    background: #EAA94C;
  }
}
