.text-status {
  text-transform: capitalize;
  color: #334D69;
  font-size: 12px;
}

.status {
  display: inline-block;
  margin-right: 8px;
  border: 1px solid;
  border-radius: 50%;
  width: 8px;
  height: 8px;

  &--all {
    border-color: $cx-gb-5;
  }

  &--draft {
    border-color: $c-success;
  }

  &--live {
    border-color: $c-success;
    background: $c-success;
  }

  &--default {
    border-color: $cx-gb-5;
    background: $cx-gb-5;
  }

  &-dropdown {
    &__checkbox {
      position: absolute;
      opacity: 0;
      pointer-events: none;

      + label {
        display: block;
        transition: .2s background-color;
        cursor: pointer;
        padding: 5px 9px;
        line-height: 15px;
        color: $cx-gb-7;
        font-size: $f-t3;
      }

      &:checked,
      &:hover {
        + label {
          background: $cx-gb-3;
        }
      }
    }
  }
}
