.steps {
  padding: 15px 0 12px;
  overflow: hidden;
  text-transform: uppercase;
  color: $cx-gb-4;
  font-size: $f-t5;
  font-weight: $fw-bold;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;

    &__wrap {
      display: inline-block;
      position: relative;
    }

    &__wrap:before {
      display: block;
      position: absolute;
      top: 8px;
      right: 100px;
      left: 100px;
      background: $cx-gb-4;
      height: 1px;
      content: "";
    }

    &__item {
      display: block;
      position: relative;
      margin: 0;
      padding: 25px 10px 0;
      width: 200px;
      text-align: center;
      counter-increment: item;
    }

    &__item--active {
      color: $cx-gb-7;
    }

    &__item:before {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      background: $cx-gb-4;
      width: 16px;
      height: 16px;
      line-height: 16px;
      color: $cx-gb-1;
      content: counter(item);
    }

    &__item--active:before {
      background: $cx-gb-7;
    }
  }
}
