.sub-header {
  display: flex;
  box-shadow: 1px 2px 4px 0 rgba($cx-gb-11, .15);
  background: $cx-gb-1;
  padding: 15px 20px;

  &__back-button {
    margin-right: 15px;
    border: 0;
    background: transparent;
    padding: 0;
    width: 24px;
    height: 24px;
    color: $cx-gb-6;
    font-size: $f-h5;
  }

  &__destination {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    line-height: 24px;
    color: $cx-gb-7;
    font-size: $f-t3;
    font-weight: $fw-bold;

    &__spacer {
      margin: 3px 10px;
      background: $cx-gb-5;
      width: 1px;
      height: 18px;
    }

    &__arrow {
      margin: 0 6px;
      color: $cx-gb-6;
      font-size: 11px;
    }
  }
}
