.table {
  a {
    text-decoration: none;
  }

  em {
    text-transform: uppercase;
    color: $cx-green-2;
    font-size: $f-t2;
    font-weight: $fw-bold;
    font-style: normal;
  }

  i {
    display: inline-block;
    margin-left: 7px;
    color: $cx-gb-5;
    font-size: $f-t5;
  }

  &__clickable {
    cursor: pointer;
  }

  &__header--secondary {
    th {
      background: $cx-gb-2;
      color: $cx-gb-5;
    }

    i {
      font-size: $f-t3;
    }
  }
}
