.x-tabs {
  &__nav {
    display: flex;
    align-items: stretch;
    box-shadow: 1px 2px 4px 0 rgba($cx-gb-11, .15);
    background: $cx-gb-1;
    width: max-content;
    min-width: 100%;
    height: 48px;

    &__button {
      display: block;
      transition: .3s border-color, .3s color;
      margin: 0 25px;
      border: 0;
      border-top: 2px inset transparent;
      border-bottom: 2px inset transparent;
      padding: 0 5px;
      text-transform: uppercase;
      color: #66798E;
      font-size: $f-t3;
      font-weight: $fw-bold;

      &--active {
        border-bottom-color: #05E1B0;
        color: #05E1B0;
      }
    }
  }
}
