.tag {
  display: inline-block;
  border-radius: 50%;
  background: $cx-green-2;
  padding-top: 5px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 1em;
  color: $cx-gb-1;
  font-size: $f-t6;
  font-weight: bold;

  .dropdown__button & {
    margin-left: 5px;
  }
}
