// xCheck colors
$cx-gb-11: #000D1B;
$cx-gb-10: #001A36;
$cx-gb-9: #002144;
$cx-gb-8: #193756;
$cx-gb-7: #334D69;
$cx-gb-6: #66798E;
$cx-gb-5: #99A6B4;
$cx-gb-4: #D8DDE2;
$cx-gb-3: #EFF1F3;
$cx-gb-2: #FBFBFB;
$cx-gb-1: #FFF;

$cx-green-3: #0EB08C;
$cx-green-2: #12DCAF;
$cx-green-1: #41E3BF;

$cx-black: #000;

// Built colors
// $c-x-1 - lightest $c-x-6 - darkest

$c-purple-1: #BDADFE;
$c-purple-2: #9C84FD;
$c-purple-3: #7B5BFD;
$c-purple: #5A32FD;
$c-purple-4: #4828CA;
$c-purple-5: #361E97;
$c-purple-6: #241465;

$c-green-1: #A7F6C7;
$c-green-2: #7BF1AB;
$c-green-3: #4FED8F;
$c-green: #23E974;
$c-green-4: #1CBA5C;
$c-green-5: #158B45;
$c-green-6: #0E5D2E;

$c-yellow-1: #FEF4AD;
$c-yellow-2: #FEEE84;
$c-yellow-3: #FEE95B;
$c-yellow: #FEE433;
$c-yellow-4: #CBB628;
$c-yellow-5: #98881E;
$c-yellow-6: #655B14;

$c-pink-1: #FFB8CF;
$c-pink-2: #FF95B7;
$c-pink-3: #FF729F;
$c-pink: #FF4F87;
$c-pink-4: #CC3F6C;
$c-pink-5: #992F51;
$c-pink-6: #661F36;

$c-orange-1: #FAB599;
$c-orange-2: #F79066;
$c-orange-3: #F56B33;
$c-orange: #F34600;
$c-orange-4: #C23800;
$c-orange-5: #912A00;
$c-orange-6: #611C00;

$c-grey-1: #FFF;
$c-grey-2: #EFEFEF;
$c-grey-3: #D7D9DC;
$c-grey: #AEB3BA;
$c-grey-4: #868C97;
$c-grey-5: #5D6675;
$c-grey-6: #354052;

$c-success: #0DE98C;
$c-error: #F34600;
