///////////////////////////////
//            APP            //
///////////////////////////////

// Dropdown
$dropdown-button-border: 1px solid $cx-gb-4;
$dropdown-button-border-focus: 1px solid $cx-gb-5;
$dropdown-button-background: $cx-gb-1;
$dropdown-button-background-focus: $cx-gb-2;
$dropdown-button-height: 32px;
$dropdown-button-padding: 7px 30px 7px 10px;
$dropdown-button-color: $cx-gb-7;
$dropdown-button-color-focus: $cx-gb-7;
$dropdown-button-arrow-icon: "\e803";
$dropdown-button-arrow-color: $cx-gb-6;
$dropdown-button-arrow-font-size: 8px;
$dropdown-button-arrow-right: 7px;
$dropdown-button-font-size: $f-t3;
$dropdown-button-line-height: 15px;
$dropdown-button-border-radius: 2px;

$dropdown-body-background: $cx-gb-1;
$dropdown-body-box-shadow: 2px 2px 10px 0 rgba($cx-black, .2);
$dropdown-body-border-radius: 0;
$dropdown-body-border: none;
$dropdown-body-offset: 8px;

// Tooltips
$tooltip-background: rgba($cx-gb-9, .8);
$tooltip-arrow-background: rgba($cx-gb-9, .8);
$tooltip-border-radius: 2px;
$tooltip-color: $cx-gb-1;
$tooltip-font-size: $f-t5;
$tooltip-line-height: 12px;
$tooltip-box-shadow: 2px 4px 10px 0 rgba($cx-black, .2);
$tooltip-min-height: 32px;
$tooltip-padding: 10px 15px;

// Toasts
$toast-background: $cx-gb-7;
$toast-box-shadow: 0 2px 4px 0 rgba($cx-gb-10, .5);
$toast-border-radius: 2px;
$toast-padding: 23px 40px 23px 15px;
$toast-color: $cx-gb-2;
$toast-font-size: $f-t3;
$toast-line-height: 15px;
$toast-close-icon: "\e821";
$toast-close-color: $cx-gb-2;
$toast-close-color-hover: $cx-gb-2;
$toast-close-font-size: 10px;

// tables
$table-background: #FFF;
$table-row-border: 1px solid $cx-gb-4;
$table-td-padding: 12px 10px;
$table-th-padding: 13px 10px;
$table-first-col-padding-left: 15px;
$table-last-col-padding-right: 15px;
$table-td-color: $cx-gb-9;
$table-td-font-size: $f-t3;
$table-td-line-height: 15px;
$table-th-color: $cx-gb-6;
$table-th-font-size: $f-t4;
$table-th-line-height: 14px;
$table-th-font-weight: 700;

$table-stripped-border: 1px solid $cx-gb-4;
$table-stripped-border-radius: 2px;
$table-stripped-row-even-background: $cx-gb-3;
$table-stripped-row-odd-background: $cx-gb-1;

// pagination
$pagination-result-info-padding: 0 15px 0 0;
$pagination-result-info-color: $cx-gb-6;
$pagination-result-info-font-size: 12px;

$pagination-list-border: 1px solid $cx-gb-4;
$pagination-list-border-radius: 2px;
$pagination-list-item-height: 30px;
$pagination-list-item-background: $cx-gb-1;
$pagination-list-item-background-hover: $cx-gb-3;
$pagination-list-item-background-active: $cx-green-2;
$pagination-list-item-width: 30px;
$pagination-list-item-color: $cx-gb-6;
$pagination-list-item-color-active: $cx-gb-1;
$pagination-list-item-font-size: 12px;
$pagination-list-item-font-weight: 400;
$pagination-list-item-font-weight-active: 700;
$pagination-list-item-disabled-color: $cx-gb-4;

// tags
$tags-spacing: 8px;

$tags-item-height: 24px;
$tags-item-color: $cx-gb-7;
$tags-item-background: $cx-gb-3;
$tags-item-font-size: 9px;
$tags-item-padding: 0 7px;
$tags-item-border-radius: 2px;

// loading spinner
$loading-spinner-size: 16px;

// modals
$modal-overlay-color: rgba($cx-gb-9, .2);
$modal-bg-blur: none;
$modal-border-radius: 2px;
$modal-shadow-color: $cx-gb-11;
$modal-shadow-color-alpha: rgba($modal-shadow-color, .15);
$modal-box-shadow: 1px 2px 4px 0 rgba($modal-shadow-color, .3);
$modal-background: $cx-gb-1;
$modal-width: 560px;
$modal-title-color: $c-grey-6;
$modal-title-font-size: $f-h4;
$modal-title-font-weight: $fw-bold;
$modal-close-color: $c-grey;
$modal-close-size: 16px;
$modal-header-padding: 30px 30px 20px;
$modal-body-padding: 0 30px 45px 30px;
$modal-body-text-color: $c-grey-6;
$modal-body-text-line-height: 24px;
$modal-body-text-font-weight: 400;
$modal-body-text-font-size: $f-t1;
$modal-footer-padding: 0 30px 30px;
$modal-footer-border-color: transparent;
$modal-footer-justify-content: flex-start;

// tabs
$tabs-wrap-background: $c-grey-1;
$tabs-wrap-border-color: $c-grey-2;
$tabs-wrap-shadow-color: $c-grey-3;
$tabs-wrap-border-radius: 4px;
$tabs-nav-border-color: $c-grey-2;
$tabs-nav-background: $c-grey-1;
$tabs-nav-item-color: $c-grey-4;
$tabs-nav-item-color-active: $c-purple;
$tabs-nav-item-font-size: $f-t2;
$tabs-nav-item-padding-horizontal: 50px;
$tabs-nav-item-padding-top: 23px;
$tabs-nav-item-padding-bottom: 17px;
$tabs-nav-item-border-color: transparent;
$tabs-nav-item-border-color-active: $c-purple;
$tabs-content-padding-vertical: 55px;
$tabs-content-padding-horizontal: 50px;
$tabs-content-background: #FBFBFB;
$tabs-content-color: $c-grey-6;
$tabs-content-font-size: $f-t1;
$tabs-content-line-height: 1.5em;

// forms
$form-item-margin: 20px;

$form-switch-bar-width: 40px;
$form-switch-bar-height: 12px;
$form-switch-bar-border-radius: 40px;
$form-switch-bar-margin-left: 3px;
$form-switch-bar-color: $c-grey-3;
$form-switch-bar-color-active: $c-purple;
$form-switch-bar-color-disabled: $c-grey-3;
$form-switch-circle-size: 23px;
$form-switch-circle-color: $c-grey-1;
$form-switch-circle-color-disabled: $c-grey-2;
$form-switch-circle-shadow-color: #1E242E;
$form-switch-circle-shadow-color-alpha: rgba($form-switch-circle-shadow-color, .5);
$form-switch-label-margin: 13px;
$form-switch-label-padding-top: 2px;
$form-switch-label-color: $c-grey-6;
$form-switch-label-font-size: $f-t2;

$form-checkbox-label-alignment: center;
$form-checkbox-icon: "\e817";
$form-checkbox-label-color: $cx-gb-7;
$form-checkbox-label-font-size: $f-t2;
$form-checkbox-label-font-size-small: $f-t3;
$form-checkbox-label-margin: 10px;
$form-checkbox-label-margin-small: 10px;
$form-checkbox-label-padding-top: 0;
$form-checkbox-label-padding-top-small: 0;
$form-checkbox-size: 16px;
$form-checkbox-size-small: 12px;
$form-checkbox-background: $cx-gb-1;
$form-checkbox-background-checked: $cx-green-2;
$form-checkbox-background-disabled: $cx-gb-3;
$form-checkbox-border-color: $cx-gb-4;
$form-checkbox-border-color-hover: $cx-green-2;
$form-checkbox-border-color-checked: $cx-green-2;
$form-checkbox-border-color-disabled: $cx-gb-4;
$form-checkbox-border-color-error: $c-error;
$form-checkbox-icon-color: $cx-gb-1;
$form-checkbox-icon-color-disabled: $cx-gb-4;
$form-checkbox-icon-font-size: 10px;
$form-checkbox-icon-font-size-small: 8px;
$form-checkbox-border-radius: 0;

$form-radio-label-color: $c-grey-6;
$form-radio-label-font-size: $f-t2;
$form-radio-label-margin: 14px;
$form-radio-label-padding-top: 5px;
$form-radio-size: 24px;
$form-radio-background: $c-grey-1;
$form-radio-background-checked: $c-grey-1;
$form-radio-background-disabled: $c-grey-2;
$form-radio-border-color: $c-grey-3;
$form-radio-border-color-checked: $c-purple;
$form-radio-border-width-checked: 7px;
$form-radio-border-color-disabled: $c-grey-3;
$form-radio-border-color-error: $c-orange;
$form-radio-border-radius: 12px;

$form-input-border-radius: 2px;
$form-input-height: 32px;
$form-input-background: $cx-gb-1;
$form-input-background-disabled: $cx-gb-3;
$form-input-padding: 8px;
$form-input-border-color: $cx-gb-4;
$form-input-border-color-error: $c-error;
$form-input-border-color-disabled: $cx-gb-4;
$form-input-border-color-focus: $cx-gb-6;
$form-input-text-color: $cx-gb-7;
$form-input-text-font-size: $f-t3;
$form-input-box-shadow: none;
$form-input-box-shadow-focus: inset 0 0 3px 0 rgba(#66798E, .1);
$form-placeholder-color: $cx-gb-5;

$form-prefix-width: 30px;
$form-suffix-width: 30px;
$form-icon-font-size: 10px;
$form-icon-color: $cx-gb-5;
$form-icon-color-disabled: $c-grey;

$form-label-color: $cx-gb-6;
$form-label-color-disabled: $cx-gb-5;
$form-label-font-size: $f-t3;
$form-label-margin: 16px;

$form-toggle-show-password-color: $c-grey-4;
$form-toggle-show-font-size: $f-t4;

$form-error-color: $c-error;
$form-error-font-size: $f-t5;
$form-error-margin: 7px;

// buttons
$button-radius: 2px;
$button-font-weight: 700;

$button-big-height: 48px;
$button-big-font-size: 14px;
$button-big-min-width: 140px;
$button-big-padding-horizontal: 10px;

$button-normal-height: 32px;
$button-normal-font-size: 12px;
$button-normal-min-width: 100px;
$button-normal-padding-horizontal: 10px;

$button-small-height: 24px;
$button-small-font-size: 10px;
$button-small-min-width: 83px;
$button-small-padding-horizontal: 10px;

$button-filled-color: $cx-gb-1;
$button-filled-color-hover: $cx-gb-1;
$button-filled-color-disabled: $cx-gb-5;
$button-filled-bg: $cx-green-2;
$button-filled-bg-hover: #08BF96;
$button-filled-bg-disabled: $cx-gb-4;

$button-outline-bg: transparent;
$button-outline-bg-disabled: $cx-gb-3;
$button-outline-color: $cx-green-2;
$button-outline-color-hover: #08BF96;
$button-outline-color-disabled: $cx-gb-4;
$button-outline-border: $cx-green-2;
$button-outline-border-hover: #08BF96;
$button-outline-border-disabled: $cx-gb-4;

$button-outline-secondary-bg: transparent;
$button-outline-secondary-bg-disabled: $cx-gb-3;
$button-outline-secondary-color: $cx-gb-6;
$button-outline-secondary-color-hover: $cx-gb-7;
$button-outline-secondary-color-disabled: $cx-gb-4;
$button-outline-secondary-border: $cx-gb-5;
$button-outline-secondary-border-hover: $cx-gb-7;
$button-outline-secondary-border-disabled: $cx-gb-4;

// Typography
$header-font_weight: 400;
$header-margin: 15px;
$h1: $f-h1;
$h2: $f-h2;
$h3: $f-h3;
$h4: $f-h4;
$h5: $f-h5;
$t1: $f-t1;
$t2: $f-t2;
$t3: $f-t3;
$t4: $f-t4;

$base-font_weight: 400;
$base-font_size: $t1;
$base-font_family: "aktiv-grotesk";
$base-color: $c-purple-6;

$paragraph-margin: 10px;

///////////////////////////////
//         STYLEGUIDE        //
///////////////////////////////

$sg-overlay-background: $c-grey-1;

// Header
$sg-header-padding-vertical: 10px;
$sg-header-padding-horizontal: 20px;
$sg-header-page_title-color: #000;
$sg-header-page_title-font_size: 15px;
$sg-header-page_title-font_weight: normal;
$sg-header-border_color: $c-grey-1;
$sg-header-background: $c-grey-1;
$sg-header-height: 40px;
$sg-header-box_shadow: 0 2px 4px 0 $c-grey-3;

// Sidebar
$sg-sidebar-background: $c-grey-2;
$sg-sidebar-color: $c-grey-4;
$sg-sidebar-padding_horizontal: 20px;

// Sidebar - logo
$sg-sidebar-logo-border_color: $c-grey-1;
$sg-sidebar-logo-background: $c-grey-1;
$sg-sidebar-logo-margin_bottom: 30px;
$sg-sidebar-logo-height: 40px;
$sg-sidebar-logo-color: #000;
$sg-sidebar-logo-box_shadow: 0 2px 4px 0 $c-grey-3;

// Sidebar - section header
$sg-sidebar-section_header-color: $c-grey-4;
$sg-sidebar-section_header-font_size: 12px;
$sg-sidebar-section_header-font_weight: bold;
$sg-sidebar-section_header-margin_bottom: 10px;

// Sidebar - nav
$sg-sidebar-nav-margin_bottom: 30px;
$sg-sidebar-nav-link-color: $c-purple;
$sg-sidebar-nav-link-color-hover: $c-purple-5;
$sg-sidebar-nav-link-font_size: 12px;
$sg-sidebar-nav-link-padding-vertical: 10px;
$sg-sidebar-nav-link-background: transparent;
$sg-sidebar-nav-link-background-hover: transparent;
