// Font Family
$f-family: Verdana, Tahoma;

// Font weights
$fw-normal: 400;
$fw-bold: 600;

$fw-header: $fw-normal; // Header font weight

// Line heights
$f-lh: 1.2em;
$f-lh--big: 1.4em;
$f-lh--small: 1em;

// Font Base
$f-base: 14px;
$f-base-lh: $f-lh;

// h1 - huge 40px
$f-h1: 40px;

// h2 - big 36px
$f-h2: 36px;

// h3 - medium 30px
$f-h3: 30px;

// h4 - normal 20px
$f-h4: 20px;

// h5 - small 16px
$f-h5: 16px;

// t1 - 14px
$f-t1: $f-base;

// t2 - 13px
$f-t2: 13px;

// t3 - 12px
$f-t3: 12px;

// t4 - 11px
$f-t4: 11px;

// t5 - 10px
$f-t5: 10px;

// t6 - 9px
$f-t6: 9px;
