.admin {
  &__header {
    margin: 0 0 20px;
    line-height: 21px;
    color: $cx-gb-7;
    font-size: $f-h5;
    font-weight: $fw-bold;
  }

  &__table {
    td {
      color: $cx-gb-6;
    }

    &__col--has-border-left {
      border-left: 1px solid $cx-gb-4;
    }

    &__text--light {
      color: $cx-gb-5;
    }
  }
}
