.campaigns {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &__search {
      display: flex;
      margin: 0 -4px;

      > * {
        margin: 0 4px;
      }

      &__name {
        width: 200px;
      }

      &__id {
        width: 100px;
      }
    }

    &__create {
      width: 140px;
    }
  }

  &__filter-status {
    margin-bottom: 10px;
    width: 115px;
  }
}
