.create-campaign-custom-fields {
  &__header {
    margin-bottom: 20px;
  }

  &__columns {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;

    &__main {
      margin-right: 25px;
      width: 760px;
    }

    &__sidebar {
      width: 405px;
    }
  }

  &__add-button {
    i {
      display: inline-block;
      margin-right: 10px;
    }
  }

  &__help {
    padding: 20px 17px 25px;

    &__header {
      margin-bottom: 25px;
      color: $cx-gb-5;
      font-size: $f-t3;
      font-weight: $fw-bold;
    }

    &__link {
      text-decoration: none;
      color: $cx-green-2;
      font-size: $f-t3;
      font-weight: $fw-bold;
    }
  }

  &__card {
    margin-bottom: 25px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $cx-gb-3;
      padding: 0 30px 0 20px;
      height: 56px;

      &__text {
        color: $cx-gb-6;
        font-size: $f-t3;
        font-weight: $fw-bold;
      }

      &__button {
        display: block;
        transition: .3s border-color;
        margin: 0 3px;
        border: 1px solid $cx-gb-4;
        border-radius: 50%;
        padding: 0;
        width: 24px;
        height: 24px;
        color: $cx-gb-5;
        font-size: 11px;

        &:hover {
          border-color: $cx-gb-5;
        }

        .icon--toggle-down:before {
          padding-top: 2px;
        }
      }

      &__buttons {
        display: flex;
        margin: 0 -3px;
      }
    }

    &__spacer {
      margin: 30px -20px;
      background: $cx-gb-3;
      height: 1px;
    }

    &__inner {
      padding: 25px 20px 20px;
    }
  }
}
