.create-campaign-routes {
  &__header {
    margin-bottom: 25px;
  }

  &__spacer {
    margin-top: 40px;
    background: $cx-gb-4;
    height: 1px;
  }

  &__results-number {
    margin: 14px 0;
    color: $cx-gb-6;
    font-size: $f-t1;

    + .create-campaign-routes__cards {
      margin-top: 0;
    }
  }

  &__cards {
    display: flex;
    margin-top: 40px;
    width: 100%;

    &__spacer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      color: $cx-gb-4;
      font-size: 42px;
    }
  }

  &__card {
    width: 460px;
    min-height: 675px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $cx-gb-4;
      padding: 0 20px;
      height: 56px;

      &__text {
        color: $cx-gb-6;
        font-size: $f-t1;
      }

      &__button {
        border: 0;
        background: none;
        padding: 0;
        color: $cx-green-2;
        font-weight: $fw-bold;
      }
    }

    &__no-routes {
      padding-top: 175px;
      text-align: center;
      color: $cx-gb-4;
      font-size: $f-t2;
      font-weight: $fw-bold;

      i {
        display: block;
        margin: 0 auto 26px;
        font-size: 78px;
      }
    }
  }

  &__buttons {
    margin-top: 30px;
  }
}
