.custom-fields {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    &__title {
      margin: 0;
      color: $cx-gb-7;
      font-weight: $fw-bold;
    }

    &__counter {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 12px;
      border-radius: 50%;
      background: $cx-gb-1;
      width: 24px;
      height: 24px;
      color: $cx-gb-7;
      font-size: $f-t5;
      font-weight: $fw-bold;
    }

    &__button {
      margin-left: 25px;
    }
  }
}
