.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $cx-gb-9 no-repeat;
  background-position: center 70px;
  background-size: 1238px 1251px;
  width: 100%;
  height: 100vh;

  &__box {
    padding: 60px 40px 70px;
    width: 480px;
  }

  &__logo {
    display: block;
    margin: 0 auto 50px;
    width: 140px;
    height: 37px;
  }

  &__form {
    &__button {
      margin-top: 30px;
    }
  }
}
