$table-row-hover: #A0F1DF;
$table-row-hover-opacity: rgba(#A0F1DF, .5);

.network-manager {
  padding-top: 25px;

  &__sorting {
    display: flex;
    align-items: center;
    margin: 0 0 15px;

    &__text {
      flex-shrink: 0;
      color: $cx-gb-6;
      font-size: $f-t3;
      font-weight: $fw-bold;

      i {
        margin-right: 10px;
      }
    }

    &__group {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding: 0 1px;

      .dropdown__button,
      .form__input {
        margin: 0 -1px;
        border-radius: 0;
      }

      .dropdown__button--is-open,
      .form__input:focus {
        z-index: 5;
      }

      > div:first-child {
        .dropdown__button,
        .form__input {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
      }

      > div:last-child {
        .dropdown__button,
        .form__input {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
    }
  }

  &__secondary-sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__routes {
    margin: 0 -20px;
    background: $cx-gb-1;

    &__header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $cx-gb-3;
      color: $cx-gb-6;
      font-size: $f-t4;
      font-weight: $fw-bold;
    }

    &__col {
      padding: 16px 20px;
      line-height: 16px;

      &--routes {
        width: 200px;
      }

      &--tier {
        width: 105px;
      }
    }

    &__row {
      &__toggle-button {
        display: flex;
        position: relative;
        align-items: center;
        transition: .3s background-color;
        border-bottom: 1px solid $cx-gb-3;
        text-transform: uppercase;
        text-decoration: none;
        color: $cx-gb-7;
        font-size: $f-t3;

        &:hover,
        &--is-active {
          background-color: $table-row-hover-opacity;
        }

        i {
          margin: 0 5px;
          color: $cx-gb-6;
          font-size: 11px;
        }

        &:after {
          @include icon;

          display: block;
          position: absolute;
          top: 50%;
          right: 32px;
          transform: translateY(-50%);
          color: $cx-gb-7;
          font-size: 10px;
          content: "\e81b";
        }

        &--is-active:after {
          content: "\e81a";
        }
      }
    }

    &__section {
      border-bottom: 1px solid $cx-gb-4;
      padding: 12px 20px;

      &__top {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }

      &__name {
        margin-right: 13px;
        text-transform: uppercase;
        color: $cx-gb-7;
        font-size: $f-t3;
        font-weight: $fw-bold;
      }

      &__custom-fields {
        &__text {
          color: $cx-gb-7;
          font-size: $f-t5;

          strong {
            margin-right: 3px;
            color: $cx-gb-5;
            font-weight: $fw-bold;
          }
        }

        &__button {
          margin-left: 7px;
        }
      }
    }

    &__table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      text-align: left;

      th,
      td {
        padding: 7px 12px;
        vertical-align: top;
      }

      td {
        color: $cx-gb-7;
        font-size: $f-t4;

        > * {
          display: inline-block;
        }
      }

      tbody,
      thead {
        td:first-child,
        th:first-child {
          padding-left: 0;
        }

        td:last-child,
        th:last-child {
          padding-right: 0;
        }
      }

      th {
        text-transform: uppercase;
        line-height: 11px;
        color: $cx-gb-5;
        font-size: $f-t6;
        font-weight: $fw-bold;
      }

      &__text--light {
        color: $cx-gb-5;
      }

      &__spacer {
        display: inline-block;
        width: 15px;
      }

      &__price {
        min-width: 155px;
      }

      &__legs {
        min-width: 60px;
      }

      &__codes {
        min-width: 110px;
      }

      &__travel-window {
        min-width: 160px;
      }

      &__rolling-window {
        min-width: 140px;
      }

      &__must-include-days {
        min-width: 160px;
      }

      &__min-days-lcp {
        min-width: 90px;
      }

      &__lcp {
        min-width: 70px;
      }

      &__date {
        min-width: 100px;
      }
    }
  }
}
