.reporting {
  &__top {
    display: flex;
    margin: 0 -10px 20px;

    &__group {
      display: flex;
      align-items: center;
      margin: 0 10px;
    }

    &__header {
      margin-right: 10px;
      color: #66798E;
      font-size: 12px;
      font-weight: bold;
    }

    &__buttons {
      display: flex;

      .button {
        margin: 0 5px;
      }
    }
  }

  &__pagination {
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  &__download-button {
    margin-bottom: 10px;
    width: 150px;
  }

  &__run-button {
    width: 130px;
  }
}
